{:aliases
   {:build/main {:build-with {:aliases [:foss/jes],
                              :class-dir "target/classes",
                              :clojars? true,
                              :project "deps.edn",
                              :repo "jes",
                              :scm-url "github.com",
                              :src-dirs ["src"],
                              :username "patbrown",
                              :version "0.0.2"},
                 :deps {babashka/process {:mvn/version "0.5.22"},
                        io.github.clojure/tools.build {:mvn/version "0.10.6"}},
                 :extra-paths ["build"],
                 :ns-default build},
    :deploy/main {:exec-args {:artifact "target/deploy.jar",
                              :installer :remote,
                              :pom-file "target/pom.xml",
                              :sign-releases? false},
                  :exec-fn deps-deploy.deps-deploy/deploy,
                  :extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}},
    :foss/jes {:build-with
                 {:aliases [:foss/jes], :repo "jes", :version "0.0.2"},
               :extra-deps {medley/medley {:mvn/version "1.4.0"},
                            orchestra/orchestra {:mvn/version "2021.01.01-1"}},
               :extra-paths ["src"],
               :nss [{:destination "bin/foss/jes/src",
                      :dirs ["baby/pat/jes"],
                      :files ["baby/pat/jes.cljc"],
                      :source "bin/code/src"}]},
    :run/repl
      {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"},
                    nrepl/nrepl {:mvn/version "1.1.0"},
                    refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}},
       :main-opts
         ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "8675" "--middleware"
          "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}},
 :build-with {:aliases [:foss/jes],
              :class-dir "target/classes",
              :clojars? true,
              :project "deps.edn",
              :repo "jes",
              :scm-url "github.com",
              :src-dirs ["src"],
              :username "patbrown",
              :version "0.0.2"}}
